html,body{
    margin: 0;
    padding:0;
}
header nav{
    background-color: aqua;
    height:80px;
    justify-content: space-evenly;
    display:flex;  
    /* flex-wrap: wrap; */
    padding:20px;
    align-items: center;
    position: fixed;
     width:100%;
    top:0;

}
header nav a{
    text-decoration: none;
    width: 100px;
    font-size: 30px;
 
}