
body,html{
    margin:0;
    padding: 0;
}
.container{
    height: 500px;
    width:500px;
    display:flex;
    position: relative;
    margin-left:45px;
    margin-right:40px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
}
.container img{
    position: absolute;
    top:15px;
    right:15px;
    border: 1px solid black;
    border-radius: 40%;
    margin-left:60px;

    height:150px;

    
}
.p1{
    position: absolute;
    bottom:15px;
    left:15px;
    margin:0;
    

}
.p2{
    position: absolute;
    top:45%;
    left:50%;
    bottom:50%;
    text-align: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    

}